{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('validation') }}
{% endblock %}

{% block body %}
    <section class="container-fluid bg-dark vh-100 d-flex flex-column justify-content-center">
        <div id="form-one" class="container text-light">
            <h1 class="mb-5 fw-lighter text-center">FoRGoT pAsswORD</h1>
            {% if emailSent == false %}
                {% if message is null %}
                    <p class="fw-lighter lead mb-5 text-center text-info">
                        Please enter your username
                    </p>
                {% else %}
                    <div class="text-danger lead mb-5 text-center" role="alert">
                        {{ message|trans }}
                    </div>
                {% endif %}
                {% include "security/forgot_password/_forgot_password_step1_form.html.twig" %}
            {% else %}
                <p class="fw-lighter lead mb-5 text-center text-info">
                    We sent you an email. Please follow the link and change your password.
                </p>
                <a href="{{ path('home') }}" class="btn btn-outline-info w-100">Return to the homepage</a>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('validation') }}
{% endblock %}
